* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d9d9d9;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: "Cormorant Garamond", serif;
  font-size: 6em;
}

.subtitle {
  font-family: "Allura", cursive;
  font-size: 4em;
  font-weight: 500;
}
